<!doctype html>

<html lang="en">
<head>
    <title>
        {{pageTitle}}
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <link rel="stylesheet" href="./styles/custom.css">
    <script src="./js/modernizr.custom.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Mada" rel="stylesheet">
</head>
<body>
    <div class='back'>
        <br>
        <br>
    </div>
    <div class='container' style="margin-top: 5%; text-align: center;">
        <h1>Sample Text</h1>
        <p class='p1'>Log in with ION to get started.</p>
        <a href="{{loginLink}}" class="btn btn-1 btn-1a" role="button">Get Started</a>
        <div id='cover' class="black_overlay"></div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
</body>
</html>